:root {
    --primary-color: #004e64;
    --secondary-color: #00a5cf;
    --accent1-color: #e7f6f8;
    --accent2-color: #ffffff;

    --heading-font: Arial, sans-serif;
    --body-font: Verdana, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #333;
    background-color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Header & Navigation */
header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}

nav ul.navigation {
    display: flex;
    list-style: none;
}

nav ul.navigation li {
    flex: 1 1 auto;
    text-align: center;
}

nav ul.navigation a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 8px;
}

nav ul.navigation a:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.socialmedia a {
    text-decoration: none;
}

/* Typography */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Hero */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 78, 100, 0.8);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}